In [1]:
# load autoreload extension
%load_ext autoreload
%autoreload 1

In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import os

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pathlib import Path

%aimport titanic_src.utils
%aimport titanic_src.features.transform_features
%aimport titanic_src.models.train_model

tm = titanic_src.models.train_model
tf = titanic_src.features.transform_features

In [34]:
train = titanic_src.utils.read_csv('data/interim/imputed_train.csv', index_col=0)

y = train['Survived'].as_matrix()

In [52]:
train.head()

,Age,SibSp,Fare,FamilySize,NumOfCabins,Parch,Title,Sex,Embarked,HighestDeck,Pclass,Survived,FamilyBins
PassengerId,,,,,,,,,,,,,
1,22.0,1.0,7.2500,2.0,0.0,0.0,Mr.,male,S,ZZ,3,0,Small
2,38.0,1.0,71.2833,2.0,1.0,0.0,Mrs.,female,C,C,1,1,Small
3,26.0,0.0,7.9250,1.0,0.0,0.0,Miss.,female,S,ZZ,3,1,Alone
4,35.0,1.0,53.1000,2.0,1.0,0.0,Mrs.,female,S,C,1,1,Small
5,35.0,0.0,8.0500,1.0,0.0,0.0,Mr.,male,S,ZZ,3,0,Alone

In [49]:
def make_family_bins(family_size):
    if family_size == 1:
        return 'Alone'
    if family_size <= 3:
        return 'Small'
    if family_size <= 4:
        return 'Kernel'
    else: return 'Large'

In [50]:
train['FamilyBins'] = train["FamilySize"].apply(make_family_bins)

In [54]:
train[["HighestDeck", "Survived"]].groupby(['HighestDeck']).mean()

             Survived
HighestDeck
A            0.466667
B            0.744681
C            0.593220
D            0.757576
E            0.757576
F            0.583333
G            0.500000
T            0.000000
ZZ           0.299854

In [44]:
train[["FamilySize", "Survived"]].groupby(['FamilySize']).mean()

            Survived
FamilySize
1.0         0.303538
2.0         0.552795
3.0         0.578431
4.0         0.724138
5.0         0.200000
6.0         0.136364
7.0         0.333333
8.0         0.000000
11.0        0.000000

In [33]:
train["FamilySize"] + 1

PassengerId
1       2.0
2       2.0
3       1.0
4       2.0
5       1.0
6       1.0
7       1.0
8       5.0
9       3.0
10      2.0
11      3.0
12      1.0
13      1.0
14      7.0
15      1.0
16      1.0
17      6.0
18      1.0
19      2.0
20      1.0
21      1.0
22      1.0
23      1.0
24      1.0
25      5.0
26      7.0
27      1.0
28      6.0
29      1.0
30      1.0
       ...
862     2.0
863     1.0
864    11.0
865     1.0
866     1.0
867     2.0
868     1.0
869     1.0
870     3.0
871     1.0
872     3.0
873     1.0
874     1.0
875     2.0
876     1.0
877     1.0
878     1.0
879     1.0
880     2.0
881     2.0
882     1.0
883     1.0
884     1.0
885     1.0
886     6.0
887     1.0
888     1.0
889     4.0
890     1.0
891     1.0
Name: FamilySize, Length: 891, dtype: float64

In [29]:
train["FamilySize"].value_counts()

0.0     537
1.0     161
2.0     102
3.0      29
5.0      22
4.0      15
6.0      12
10.0      7
7.0       6
Name: FamilySize, dtype: int64